body{
    background-image: url(../images/2076193.jpg)
}


.container{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    height: 650px;
    text-shadow: 2px 2px  black;
}

#wordDash{
    font-size: 40px;

}


#whale{
    position: absolute;
    top:20px;
    left: 20px;
    display: none;
}

#dolphin{
    position: fixed;
    bottom: 0px;
    left: 100px;
    display: none;

}


.bubble1{

    position:absolute;
    bottom: 20px;
    right: 400px;
}

.bubble2{
    position: absolute;
    bottom: 40px;
    right: 600px;
}
.bubble3{
    position: absolute;
    bottom: 30px;
    right: 300px;
}
.bubble4{
    position: absolute;
    bottom: 50px;
    left: 200px;
}
.bubble5{
    position: absolute;
    bottom: 0px;
    left: 300px;
}

.bubble6{
    position: absolute;
    bottom: 100px;
    left: 400px;
}

.bubble{
    position: absolute;
    animation-name: floating;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}

@keyframes floating{
    from {transform: translate(0, 0px);}
        50% {transform: translate(0, -800px);}
        
        to {transform: translate(0, -800px);} 
}
